<div class="forget-main">
  <div class="forget-left">
    <app-banner></app-banner>
  </div>

  <div class="forget-right">
    <div class="xl:margin-top52">
      <h1 class="form-heading">Forget Password</h1>
      <p class="p-4">
        Enter your email address you've using for your account below and we will
        send you password reset link
      </p>
    </div>
    <!-- <mat-error>*Email is required</mat-error> -->
    <div class="flex-center">
      <form class="example-form sm:p-4 padding-3" [formGroup]="forgetPassForm">
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <div class="only-flex">
              <input formControlName="email" matInput type="email" />
              <span class="material-symbols-outlined"
                ><mat-icon>mail</mat-icon>
              </span>
            </div>
            <mat-error
              *ngIf="
                forgetPassForm.controls['email'].invalid &&
                forgetPassForm.hasError('pattern', 'email')
              "
              class="red-text"
              >Please enter valid Email</mat-error
            >
            <mat-error
              *ngIf="
                forgetPassForm.controls['email'].invalid &&
                forgetPassForm.hasError('required', 'email')
              "
              class="red-text"
              >Email is required</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <button
            (click)="forgetPass()"
            [disabled]="buttonDisabled == true"
            class="forgetpass-button hover:forgetpass-buttonHover"
          >
            Submit
          </button>
        </div>
        <div class="mt-5 text-blue-600">
          <a routerLink="/">Login</a>
        </div>

        <div class="xl:mt-32">
          <a routerLink="/register">privacy policy</a>
        </div>
      </form>
    </div>
  </div>
</div>
