@tailwind base;
@tailwind components;
@tailwind utilities;

.w-btn-80 {
  width: 80%;
}

@layer components {
  .login-main {
    @apply grid xl:grid-cols-12;
  }
  .login-left {
    @apply col-span-8;
  }
  .login-right {
    @apply col-span-4 flex justify-center text-center  xl:items-center h-100;
  }
  .red-text {
    @apply text-red-600 font-bold;
  }
  .margin-top6 {
    @apply mt-6;
  }
  .display-flex {
    @apply flex space-x-1 text-center justify-center xl:flex-row md:flex-col sm:flex-col;
  }
  .login-button {
    @apply w-btn-80 bg-white border-solid border-2 border-orange-500 text-orange-600 p-5 rounded-3xl;
  }
  .login-buttonhover {
    @apply w-btn-80 bg-orange-600 text-white  border-solid border-2 border-white;
  }
  .only-flex {
    @apply flex;
  }
  .form-input {
    @apply border-black;
  }
  .span-error {
    @apply flex justify-self-start ms-4;
  }
}

.mat-mdc-form-field-infix {
  padding: 0px !important;
}
.error {
  border: 2px solid red;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.h-100 {
  height: 100vh;
}
.w-100 {
  width: 100%;
}
@media only screen and (max-width: 1279px) {
  .login-right {
    @apply col-span-4 flex justify-center text-center xl:items-center h-100 w-100 mt-24;
  }
  .login-button {
    @apply w-btn-80 bg-white text-orange-600 hover:bg-orange-600 hover:text-white border-2 border-orange-600;
  }
  .login-buttonhover {
    @apply w-btn-80  bg-orange-600 text-white border-2 border-white;
  }
  .w-100 {
    width: 100vw;
  }
  .h-100 {
    height: 100%;
    width: 100vw;
  }
}

.example-full-width {
  width: 100%;
}
