<div class="reset-main">
  <div class="reset-left">
    <app-banner></app-banner>
  </div>
  <div class="reset-right">
    <div class="xl:margin-top52">
      <h1 class="form-heading">New Password</h1>
      <p class="p-4">Please enter a new password in the fields below</p>
    </div>
    <!-- <mat-error>*Email is required</mat-error> -->
    <div class="flex-center">
      <form class="example-form sm:p-4" [formGroup]="resetPasswordForm">
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>New Password</mat-label>
            <div class="only-flex">
              <input
                formControlName="password"
                [type]="typeOfPassword"
                matInput
              />

              <span (click)="hideShowNewPassword()" class="p-0">
                <mat-icon>{{ eyeIcon }}</mat-icon></span
              >
            </div>
            <mat-error
              *ngIf="resetPasswordForm.hasError('pattern', 'password')"
              class="red-text"
              >Please enter valid password</mat-error
            >
            <mat-error
              *ngIf="resetPasswordForm.hasError('required', 'password')"
              class="red-text"
              >New password is required</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Confirm New Password</mat-label>
            <div class="only-flex">
              <input
                formControlName="confirmPassword"
                [type]="typeOfConfirmPassword"
                matInput
                (keyup)="checkPassword()"
              />

              <span (click)="hideShowConfirmPassword()" class="p-0">
                <mat-icon>{{ eyeIconConfirmPassword }}</mat-icon></span
              >
            </div>

            <mat-error
              *ngIf="resetPasswordForm.hasError('required', 'confirmPassword')"
              class="red-text"
              >Confirm password is required</mat-error
            >
          </mat-form-field>
          <span
            *ngIf="
              !resetPasswordForm.controls['confirmPassword'].invalid &&
              isPasswordMatch
            "
            class="red-text flex content-start"
            >Password and ConfirmPassword must be same</span
          >
        </div>
        <div>
          <button
            class="reset-button hover:reset-buttonhover"
            mat-raised-button
            (click)="onReset()"
          >
            Change Password
          </button>
        </div>
        <div class="mt-5 text-blue-600">
          <a routerLink="/">Login</a>
        </div>

        <div class="xl:mt-32">
          <a routerLink="/register">privacy policy</a>
        </div>
      </form>
    </div>
  </div>
</div>
